.altButton {
    position: absolute;
    left: 1200px;
    top: 30px;
    width: 160px;
    height: 60px;
    border-radius: 80px;
    background-color: #fff;
    box-shadow: 0px 20px 24px 0px #00000008;
  }

.mainButton{
    position: absolute;
    left: 1400px;
    top: 30px;
    width: 286px;
    height: 60px;
    border-radius: 80px;
    background-color: #760b91;   
}