  .navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
  }


  .language-link, .support-link, .login-button, .signup-button {
    font-family: Poppins, sans-serif;
  }

  .navigation-links {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .login-button, .signup-button {
    border-radius: 80px;
    padding: 10px 30px;
  }

  .login-button {
    background-color: #fff;
    color: #6c6c6c;
  }

  .signup-button {
    background-color: #760b91;
    color: #fff;
  }
