.langlink-logo {
    color: #2a083a82;
    font-size: 32px;
    font-weight: bold;
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: 0.04em;
    position: absolute;
    left: 110px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }

  .iconStar{
  position: absolute;
  left: 140px;
  top: 5px;
  width: 90px;
  height: 86px;
  overflow: visible;
  width: 5%;
  height: 5%;
  }
