.container {
    display: flex;
  }
  
  .column {
    flex: 1;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 20px;
    border: 3px solid #5D0873;
    border-radius: 50px;
    margin: 10px;
    text-align: center;
  }